.jokey-helmet {
    bottom: 3vw;
    left: -1vw;
}
.jokey-link {
    top: -2vw;
    left: 4vw;
    display: block;
    position: relative;
    font-weight: 700;
    color: #333;
}
.jokey-link:hover {
    text-decoration: none;
}
.card-active-stat {
    top: 0;
    left: 7vw;
}
.main-menu {
    padding-bottom: 1vw;
}

.card-race-stats-active {
    top: 1vw;
    width: 16vw;

}
.card-race-stats {
    width: 16vw;

}
.card-race-stats-active:after {
    left: calc(50% - 2.5vw);
}
.card-active-stat {
    left: -.5vw;
}
