body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    position: absolute;
}
/*header {*/
    /*margin: 0 30vw;*/
/*}*/
.header-icon {
    background-image: url(https://picua.org/images/2019/02/26/735de314a48cef5bd8b098e42d48f8c2.png);
    background-repeat: no-repeat;
    background-size: 5vw;
    margin: 2vw auto 1vw;
    width: 5vw;
    height: 6vw;
}
.header-title {
    font-size: 1.5vw;
    color: #00093a;
    margin: 0 auto 3vw;
    display: block;
    width: 18vw;
    font-weight: 500;
}
.winner-list .row {
    margin: 0.2vw 4vw;
    height: auto;
    position: relative;
}
.winner-img {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.winner-img-1 {
    background-image: url(https://picua.org/images/2019/02/26/82beda2e47ca8dc8182ccad10ba9c781.png);
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: center;
}
.winner-img-2 {
    background-image: url(https://picua.org/images/2019/02/26/ba2d56a2010724c00aff8c2518e59318.jpg);
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: center;
}
.winner-img-3 {
    background-image: url(https://picua.org/images/2019/02/26/fcbbb65af4febf720d0132b594c873fc.png);
    background-repeat: no-repeat;
    background-size: 6vw;
    background-position: center;
}
.winner-name {
    font-size: 1.1vw;
    color: steelblue;
    position: relative;
    left: 2.2vw;
}

.winner-descripton {
    font-size: .9vw;
    color: #00093a;
    position: relative;
    left: 2.2vw;
}
.winner-rate {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 7.5vw;
    height: 1.3vw;
    position: relative;
    bottom: 0.5vw;
    left: 2.2vw;

}
.shaded-star {
    background-image: url(https://picua.org/images/2019/02/26/9f90bcc80bf97d42c8e848ec4af507b4.png);
    background-repeat: no-repeat;
    background-size: 1.3vw;
    width: 1.3vw;
}
.star {
    background-image: url(https://picua.org/images/2019/02/26/142794d34041dd88e6b3401d108348c4.png);
    background-repeat: no-repeat;
    background-size: 1.3vw;
    width: 1.3vw;
}

.main-info-container {
    width: 100%;
    height: 9vw;
    background-color: #2f5f7c;
    margin-top: 4vw;
}
.main-icon {
    background-image: url(https://picua.org/images/2019/02/26/7d21aca88f88773965c201a82816e45f.png);
    background-repeat: no-repeat;
    background-size: 5vw;
    height: 6vw;
    position: relative;
    left: 15vw;
    top: 1.5vw;
}

.main-span {
    font-size: 1vw;
    color: white;
}
.main-description {
    color: white;
    width: 19vw;
    font-size: .9vw;
    line-height: 1.2vw;
}
.md-2 {
    width: 20vw;
}
.main-small-block {
    top: 1vw;
    left: 6vw;
}
.main-social-container {
    width: 100%;
    height: 8vw;
    background-color: white;
    margin-top: 0;
    position: relative;
}
.main-social-container span {
    color: #a28a70;
    font-size: 1.5vw;
    line-height: 8vw;
    position: relative;
    left: 18vw;
}
.social-icon-container {
    display: flex;
    flex-direction: row;
    width: 12vw;
    justify-content: space-between;
    position: absolute;
    top: 2.5vw;
    left: 27vw;
}
.fb {
    background-image: url(https://picua.org/images/2019/02/27/c20cd887edc16747775d75c2a32f112e.png);
    background-repeat: no-repeat;
    background-size: 3vw;
    height: 3vw;
    width: 3vw;
    /*position: relative;*/
    /*left: 15vw;*/
    /*top: 1.5vw;*/
}
.twitter {
    background-image: url(https://picua.org/images/2019/02/27/f621335eeac00c318da975523f6c2e21.png);
    background-repeat: no-repeat;
    background-size: 3vw;
    height: 3vw;
    width: 3vw;

    /*position: relative;*/
    /*left: 15vw;*/
    /*top: 1.5vw;*/
}
.google-plus {
    background-image: url(https://picua.org/images/2019/02/27/a2a0b17240f8552180200e4a4bdd06ac.png);
    background-repeat: no-repeat;
    background-size: 3vw;
    height: 3vw;
    width: 3vw;

    /*position: relative;*/
    /*left: 15vw;*/
    /*top: 1.5vw;*/
}
.cooperation-container {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-between;
    position: absolute;
    top: 2.9vw;
    left: 50vw;
    font-size: 1.5vw;
}
.news {
    color: #2f5f7c;
    font-weight: 500;
}
.email {
    font-size: 1.4vw;
    color: #2f5f7c;
}
.subscribe {
    color: white;
    text-transform: uppercase;
    width: 10vw;
    height: 3vw;
    background-color: #2f5f7c;
    border-top-right-radius: 10vw;
    border-bottom-right-radius: 10vw;
    position: relative;
    top: -.5vw;
    line-height: 3vw;
    padding-left: .5vw;
    font-size: 1.4vw;
}
footer {
    background-color: #2f5f7c;
    width: 100%;
    height: 10.2vw;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.footer-icon {
    background-image: url(https://picua.org/images/2019/02/28/bbb07a331c708dda831b734442fdbe6e.png);
    background-repeat: no-repeat;
    background-size: 38vw;
    width: 40vw;
    height: 23vw;
    position: fixed;
    right: -18vw;
    bottom: 0;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 23vw;
    color: white;
    font-size: 1vw;
    margin: 3vw auto 1vw;
}
.footer-copyright {
    margin: 0 auto;
    font-size: .8vw;
    color: white;
    width: 11vw;
}
@media screen and (max-width: 1024px) {
    .header-icon {
        background-size: 10vw;
        margin: 6vw auto 3vw;
        width: 10vw;
        height: 12vw;
    }
    .header-title {
        font-size: 3vw;
        width: 36vw;
        margin-bottom: 6vw;
    }
    .winner-list {
        margin: 0 auto 4vw !important;
        width: 50vw;
        flex-direction: column;
    }
    .winner-list .row {
        margin: 1vw 4vw;
    }
    .winner-img {
        width: 14vw;
        height: 14vw;
        position: relative;
        right: 6vw;
    }
    .winner-img-1 {
        background-size: 14vw;
    }
    .winner-img-2 {
        background-size: 14vw;
    }
    .winner-img-3 {
        background-size: 14vw;
    }
    .winner-name {
        font-size: 2vw;
        left: 8.2vw;
        width: 30vw;
        display: block;
    }

    .winner-descripton {
        font-size: 1.8vw;
        left: 8.2vw;
        width: 43vw;
        margin-bottom: 0;
    }
    .winner-rate {
        width: 12.5vw;
        height: 2vw;
        bottom: -0.5vw;
        left: 8.2vw;
    }
    .shaded-star {
        background-size: 2vw;
        width: 2vw;
    }
    .star {
        background-size: 2vw;
        width: 2vw;
    }

    .main-info-container {
        height: 16vw;
        margin-top: 7vw;
    }
    .main-icon {
        background-size: 8vw;
        height: 9vw;
        left: 15vw;
        top: 3.5vw;
    }

    .main-span {
        font-size: 1.5vw;
    }
    .main-description {
        font-size: 1.1vw;
        line-height: 1.4vw;
    }
    .md-2 {
        width: 20vw;
    }
    .main-small-block {
        top: 2.5vw;
        left: 9vw;
    }
    .main-social-container {
        height: 16vw;
    }
    .main-social-container span {
        font-size: 2.5vw;
        left: 5vw;
        line-height: 16vw;
    }
    .social-icon-container {
        width: 16vw;
        top: 6vw;
        left: 18vw;
    }
    .fb {
        background-size: 4.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
    .twitter {
        background-size: 4.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
    .google-plus {
        background-size: 4.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
    .cooperation-container {
        top: 6vw;
        left: 40vw;
        font-size: 2.5vw;
        width: 40vw;
    }
    .news {
        color: #2f5f7c;
        font-weight: 500;
    }
    .email {
        font-size: 2vw;
        top: 0.4vw;
        position: relative;
    }
    .subscribe {
        width: 14vw;
        height: 5vw;
        top: -.5vw;
        line-height: 5vw;
        padding-left: 1vw;
        font-size: 1.9vw;
    }
    footer {
        height: 16vw;
    }
    .footer-icon {
        background-size: 62vw;
        width: 62vw;
        height: 38vw;
        position: fixed;
        right: -28vw;
    }
    .footer-nav {
        width: 35vw;
        font-size: 2vw;
    }
    .footer-copyright {
        font-size: 1.5vw;
        width: 20vw;
    }
}

@media screen and (max-width: 1920px) {
    .main-social-container {
        height: 11.2vw;
    }

    .main-social-container span {
        line-height: 11.2vw;
    }

    .social-icon-container {
        top: 4.2vw;
    }

    .cooperation-container {
        top: 4.4vw;
    }
}

@media screen and (max-width: 414px) {
    .header-icon {
        background-size: 14vw;
        margin: 6vw auto 3vw;
        width: 14vw;
        height: 16vw;
    }
    .header-title {
        font-size: 5.5vw;
        width: 65vw;
        margin-bottom: 6vw;
    }
    .winner-list {
        margin: 0 auto 4vw !important;
        width: 90vw;
        flex-direction: column;
    }
    .winner-list .row {
        margin: 1vw 4vw;
    }
    .winner-img {
        width: 18vw;
        height: 18vw;
        position: relative;
        right: 3vw;
        top: 1vw;
    }
    .winner-img-1 {
        background-size: 18vw;
    }
    .winner-img-2 {
        background-size: 18vw;
    }
    .winner-img-3 {
        background-size: 18vw;
    }
    .winner-name {
        font-size: 4vw;
        left: 13.2vw;
        width: 54vw;
        display: block;
    }

    .winner-descripton {
        font-size: 3vw;
        left: 13.2vw;
        width: 70vw;
        margin-bottom: 0;
    }
    .winner-rate {
        width: 20.5vw;
        height: 3.5vw;
        bottom: -0.5vw;
        left: 13.2vw;
    }
    .shaded-star {
        background-size: 3.5vw;
        width: 3.5vw;
    }
    .star {
        background-size: 3.5vw;
        width: 3.5vw;
    }

    .main-info-container {
        height: 23vw;
        margin-top: 13vw;
    }
    .main-icon {
        background-size: 14vw;
        height: 16vw;
        left: 15vw;
        top: 3.5vw;
    }

    .main-span {
        font-size: 2.2vw;
    }
    .main-description {
        font-size: 2vw;
        line-height: 2.2vw;
        width: 35vw;
    }
    .md-2 {
        width: 20vw;
    }
    .main-small-block {
        top: 1.5vw;
        left: 15vw;
    }
    .main-small-block-2 {
        left: 20vw;
    }
    .main-social-container {
        height: 23vw;
    }
    .main-social-container span {
        font-size: 3vw;
        left: 2vw;
        line-height: 23vw;
    }
    .social-icon-container {
        width: 16vw;
        top: 9.3vw;
        left: 17vw;
    }
    .fb {
        background-size: 4.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
    .twitter {
        background-size: 4.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
    .google-plus {
        background-size: 4.5vw;
        height: 4.5vw;
        width: 4.5vw;
    }
    .cooperation-container {
        top: 9.7vw;
        left: 38vw;
        font-size: 2.5vw;
        width: 39vw;
    }
    .news {
        color: #2f5f7c;
        font-weight: 500;
    }
    .email {
        font-size: 2vw;
        top: 0.4vw;
        position: relative;
    }
    .subscribe {
        width: 14vw;
        height: 5vw;
        top: -.5vw;
        line-height: 5vw;
        padding-left: 1vw;
        font-size: 1.9vw;
    }
    footer {
        height: 12vw;
    }
    .footer-icon {
        background-size: 66vw;
        width: 64vw;
        height: 41vw;
        position: fixed;
        right: -28vw;
    }
    .footer-nav {
        width: 35vw;
        font-size: 2vw;
    }
    .footer-copyright {
        font-size: 1.5vw;
        width: 20vw;
    }
}
