* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}


body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: black;
    font-size: 15px;
    font-family: Open Sans;


}

.wrapper {
    position: relative;
    min-height: 100%;
    display: block;
    margin: 0 auto;
}

.centering-container {
    text-align: center;

}

.header-container {
    margin: auto;
    width: 350px;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #f2f2f2;
    height: 70px;
}

.logo-beta img {
    display: inline-block;
    margin-right: auto;
    width: 240px;
    float: left;
    margin-left: 20px;
    margin-top: 0.7em;
}

.header-hamb-menu {
    width: 100%;
    padding-top: 20vw;
    position: absolute;
    z-index: 10;
}


.fa-bars,
.fa-times {
    color: #00bdf2;
    z-index: 20;
    font-size: 7vw;
    position: absolute;
    top: 6vw;
    right: 11vw;
    animation: transform 1s ease-in-out;
    animation-play-state: paused;
    animation-name: hamburger-rotation;
}

.fa-times:hover {
    animation-play-state: running;
}

.fa-bars:hover {
    animation-play-state: running;
}

.fa-bars:hover ~ #menu {
    animation-name: menu-animation;
    animation: transform 1s ease-in-out;

}


@keyframes hamburger-rotation {
    100% {
        transform: rotate(1000deg);
        -moz-transform: rotate(1000deg);
        -webkit-transform: rotate(1000deg);
        -o-transform: rotate(1000deg);
        -ms-transform: rotate(1000deg);
    }

}

.header-hamb-menu a:hover {
    text-decoration: none;
    color: white;
}

.hamb-menu-one {
    width: 350px;
    background-color: #1ca7d4;
}

.hamb-menu-one-a {
    color: white;
    text-decoration: none;
    width: 340px;
    display: block;
    text-align: center;
    height: 58px;
    margin-left: auto;
    padding-top: 16px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
}

.hamb-menu-one-a-block {
    color: white;
    background-color: #1ca7d4;
    width: 150px;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    height: 42px;
    border-radius: 30px;
    margin-right: 5px;
    padding-top: 6px;
    margin-bottom: 15px;
    font-size: 18px;
    margin-left: 5px;
}

.hamb-menu-two {
    margin-bottom: -10px;
}

.hamb-menu-two a {
    color: white;
    background-color: #00bdf2;
    text-decoration: none;
    width: 350px;
    display: block;
    text-align: center;
    height: 50px;
    margin-left: auto;
    margin-right: 50%;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
}
main {
    padding-bottom: 10em;
}

.top-wrapper {
    display: block;
    width: 350px;
    height: auto;
    text-align: center;
    margin: 30px auto 0 auto;
}

.top-title {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 5px;
}

.social-media {
    display: inline-flex;
    width: 275px;
    justify-content: space-between;
    margin-top: 15px;
}

.social-media a {
    display: inline-block;
}

.social-media img {
    width: 50px;
    height: auto;
}

.top-wrapper p {
    width: 290px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    line-height: 0.1em;
    margin: 35px auto 40px;
}

.top-wrapper p span {
    background: #fff;
    padding: 0 10px;
    color: gray;
}

.login-wrapper,
.password-wrapper,
.login-btn-wrapper {
    width: 290px;
    height: auto;
    margin: 20px auto;
}


.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 30px;
    height: 45px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    color: gray;
    min-width: 50px;
    text-align: center;
    border: none
}

/* Style the input fields */
.input-field {
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
}

.input-container:hover {
    border: 2px solid #00bdf2;
}

.fa-lock,
.fa-user {
    line-height: 22px !important;
}

.password-visibility {
    width: 280px;
    display: block;
    margin: 2px auto;
    color: gray;
}

.password-visibility input {
    width: 5px;
    height: auto;
    border: 1px solid gray;
    background-color: white;
}

.password-visibility span {
    color: gray;
    font-size: 13px;
    margin-left: -15px;
}


.password-visibility {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: -15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.password-visibility input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 13px;
    left: 14px;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: inline-flex;
}

/* On mouse-over, add a grey background color */
.password-visibility:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.password-visibility input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.password-visibility input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.password-visibility .checkmark:after {
    left: 5px;
    width: 7px;
    top: -5px;
    height: 14px;
    border: solid #00bdf2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.remember-user {
    display: inline-flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: -14px;
    margin-top: -15px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.remember-user input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-1 {
    position: absolute;
    top: 1px;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border: 1px solid lightgray;
    border-radius: 3px;
    display: inline-flex;
}

/* On mouse-over, add a grey background color */
.remember-user:hover input ~ .checkmark-1 {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.remember-user input:checked ~ .checkmark-1 {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.remember-user input:checked ~ .checkmark-1:after {
    display: block;
}

/* Style the checkmark/indicator */
.remember-user .checkmark-1:after {
    left: 5px;
    width: 7px;
    top: -5px;
    height: 14px;
    border: solid #00bdf2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.remember-user span {
    color: gray;
    display: inline-flex;
}

/*.fa-check-square {*/
/*color: #00bdf2;*/
/*display: inline-flex;*/
/*}*/
.password-recovery a {
    color: gray;
    text-decoration: none;
}

.password-recovery a:hover {
    color: gray;
    text-decoration: none;
}

.additional-features,
.sign-up-wrapper {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
}

.additional-features {
    width: 280px;
    justify-content: space-between;

}

.btn-log {
    background-color: #00bdf2;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    height: 40px;
    border-radius: 20px
}

.sign-up-wrapper {
    width: 240px;
    justify-content: center;
    margin-top: 30px;
}

.sign-up-wrapper span {
    color: gray;
    margin-right: 10px;
}

.sign-up-wrapper a {
    color: #00bdf2;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #00bdf2;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 27px;
}

.sign-up-wrapper a:hover {
    color: #00bdf2;
    background-color: #fff;
    text-decoration: none;
}


footer {
    /*margin-top: 2em;*/
    width: 100%;
    height: 3em;
    color: #656565;
    background-color: black;
    text-align: center;
    padding-top: 0.8em;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 400px) and (max-width: 414px) {
    .header-container,
    #hamburger,
    .header-hamb-menu,
    .hamb-menu-one,
    .hamb-menu-one-a,
    .hamb-menu-two,
    .hamb-menu-two a {
        width: 405px;
        margin: 0 auto;
    }
    .hamb-menu-one-a-block {
        width: 160px;
        height: 45px;
        padding-top: 7px;
        font-size: 20px;
    }
    .hamb-menu-two a {
        font-size: 21px;
        height: 55px;
        padding-top: 13px;
    }

    .header-container {
        height: 80px;
    }
    .hamb-menu-one-a {
        line-height: 1.3;
        font-size: 21px;
    }

    .fa-bars, .fa-times {
        right: 55px;
        line-height: 30px !important;
        font-size: 30px;
    }
    .logo-beta img {
        width: 260px;
        margin-left: 25px;
    }
    main {
        padding-bottom: 11em;
    }
    .top-wrapper {
        margin-top: 25px;
    }
    .top-title {
        font-size: 28px;
    }
    .social-media {
        width: 300px;
        margin-top: 20px;
    }
    .social-media img {
        width: 50px;
    }
    .top-wrapper p {
        width: 330px;
        font-size: 16px;
    }
    .login-wrapper, .password-wrapper, .login-btn-wrapper, .email-wrapper {
        width: 340px;
    }
    .password-visibility {
        width: 325px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .checkmark {
        top: 14px;
    }
    .password-visibility span {
        font-size: 15px;
    }
    .sign-up-wrapper {
        width: 275px;
        margin: 30px auto 0;
        font-size: 15px;
    }
    .sign-up-wrapper a {
        padding: 0 15px;
        font-size: 17px;
        line-height: 29px;
    }
    .additional-features {
        width: 326px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    .remember-user {
        font-size: 15px;
    }
    .checkmark-1 {
        top: 5px;
    }


}
@media screen and (min-width: 391px) and (max-width: 395px) {
    .header-container,
    #hamburger,
    .header-hamb-menu,
    .hamb-menu-one,
    .hamb-menu-one-a,
    .hamb-menu-two,
    .hamb-menu-two a {
        width: 380px;
        margin: 0 auto;
    }
    .logo-beta img {
        margin-left: 35px;
    }

    .fa-bars, .fa-times {
        right: 50px;
        line-height: 28px !important;
    }
    .hamb-menu-two a {
        line-height: 35px;
    }
    .hamb-menu-one-a-block {
        width: 165px;
    }
}


@media screen and (min-width: 350px) and (max-width: 360px) {
    .logo-beta img {
        margin-left: 20px;
    }

    .fa-bars, .fa-times {
        right: 40px;
    }


}


@media screen and (min-width: 320px) and (max-width: 340px) {
    .header-container,
    #hamburger,
    .header-hamb-menu,
    .hamb-menu-one,
    .hamb-menu-one-a,
    .hamb-menu-two,
    .hamb-menu-two a {
        width: 310px;
    }

    .header-container {
        height: 70px;
    }

    .header-hamb-menu {
        padding-top: 4.1em;
    }

    .hamb-menu-one-a-block {
        width: 130px;
        font-size: 17px;
        line-height: 27px;
    }

    .hamb-menu-one-a {
        line-height: 30px;
        font-size: 17px;
    }

    .hamb-menu-two a {
        font-size: 17px;
    }

    .fa-bars, .fa-times {
        font-size: 25px;
        top: 20px;
        right: 30px;
    }

    .logo-beta img {
        width: 212px;
        margin-left: 20px;
    }

    .fa-lock,
    .fa-user,
    .fa-envelope {
        line-height: 15px !important;
    }
    main {
        padding-bottom: 7em;
    }
    .top-wrapper {
        width: 300px;
        margin-top: 25px;
    }


    .top-wrapper p {
        width: 270px;
        margin: 25px auto 30px;
    }

    /*.top-title {*/
        /*font-size: 23px;*/
    /*}*/

    .social-media {
        width: 245px;
    }
    /*line-height: 15px !important;*/
/*}*/
    .social-media img {
        width: 45px;
    }

    .login-wrapper, .password-wrapper, .login-btn-wrapper, .email-wrapper {
        width: 265px;
    }

    /*.input-container {*/
        /*height: 40px;*/
    /*}*/

    /*.top-wrapper p {*/
        /*margin: 25px auto;*/
    /*}*/

    /*.top-wrapper p span {*/
        /*font-size: 13px;*/
    /*}*/

    /*.additional-features {*/
        /*margin: 10px auto;*/
    /*}*/

    /*.sign-up-wrapper {*/
        /*margin-top: 14px;*/
    /*}*/

}


