.news-img-main {
    display: inline-block;
    position: relative;
    left: 3vw;
    top: 1vw;
    background: url(https://img.liderform.com.tr/themes/title-news.png);
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: 7vw;
    width: 9vw;
    height: 9vw;
}

.news-main-title {
    font-size: 7vw;
    font-weight: 900;
    color: #333333;
    margin-bottom: 2vw;
    margin-top: 7vw;
    position: relative;
    left: 3vw;
    display: inline-block;
    text-transform: uppercase;
}

.nim-2 {
    display: inline-block;
    position: relative;
    left: 3vw;
    top: 1vw;
}
.nim-2 img {
    width: 7vw;
    height: auto;
    display: block;
}

.nt-2 {
    font-size: 7vw;
    font-weight: 900;
    color: #333333;
    margin-left: 6vw;
    width: 10em;
    text-transform: uppercase;
}


.city-select {
    margin: 1vw 3vw 5vw;
}
.city-select select {
    border-radius: 10vw;
    border: 1px solid #D1D1D1;
    padding-left: 5vw;
    color: #333333;
    background-color: white;
    font-size: 4.3vw;
    line-height: 7vw;
    height: 11vw;
    background-size: 5vw 3vw;
}

.news-list {
    margin-top: 15px;
}

.news-list a:hover {
    text-decoration: none;
}

.news-container {
    position: relative;
    margin: 0 2vw 2vw;
    border-radius: 3vw;
    overflow: hidden;
}
.news-container img {
    display: block;
    width: 100%;
    height: auto;
}
.news-info {
    width: 100%;
    height: auto;
    padding: 1vw 2vw;
    position: absolute;
    bottom: 0;
}
.news-type {
    border-radius: 1vw;
    text-align: center;
    font-size: 4vw;
    padding: 0.7vw 2vw;
    font-weight: 700;
    color: white;
}
.nt-main {
    background-color: #00bdf2;
    margin-top: 10px;
    width: 16vw;
}
.news-main-text {
    color: #ffffff;
    display: block;
    font-weight: 700;
    font-size: 4.5vw;
    padding-top: 2vw;
}

.news-item {
    width: 100%;
    margin-left: -5px;
    margin-right: 10px;
    position: relative;
}
.news-sub-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1.5vw;
    margin-bottom: 10px;
}
.nt-sub {
    background-color: #00bdf2;
    position: absolute;
    width: 14vw;
    top: 9vw;
    left: 6vw;
    font-size: 3.5vw;
    line-height: 5vw;
    padding-left: 1.5vw;
}
.news-sub-text {
    color: black;
    font-weight: 700;
    font-size: 3.5vw;
    margin-left: -20px;
    margin-right: 10px;
}


.hints-container {
    margin: 6vw 4vw 10vw;
}
.hint-info-container {
    position: relative;
}

.selection-container {
    width: 100%;
    margin: 3vw auto 4vw auto;
    display: flex;
    justify-content: space-between;
}

.selection-container a:hover {
    color: white;
    background-color: #00bdf2;
    text-decoration: none;
    font-weight: 700;
}

.selection-container a {
    display: inline-block;
    border-radius: 10vw;
    height: 12vw;
    width: 43vw;
    text-align: center;
    line-height: 11vw;
    color: black;
    background-color: #f2f2f2;
    text-decoration: none;
    font-size: 5vw;
}


.hint-close {
    color: #00bdf2;
    z-index: 10;
    font-size: 6.5vw;
    position: absolute;
    top: 1vw;
    right: 4vw;
}
.hint-text {
    display: inline-block;
    margin: 20px 35px 0 10px;
}
.hint-info {
    background-color: #fff;
    border: 3px solid #00bdf2;
    border-radius: 4vw;
    line-height: 6vw;
    font-size: 4vw;
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none
}



.hint-item {
    border-radius: 10vw;
    height: 12vw;
    width: 100%;
    text-align: center;
    padding-top: 2.3vw;
    background-color: #f2f2f2;
    text-decoration: none;
    color: #4D4D4D;
    margin: 2vw auto 0 auto;
}

.hint-item a:hover {
    color: white;
    background-color: #00bdf2;
}

.hints-type {
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: -4px 7px;
    float: left;
}


.hints-type img {
    width: 10vw;
    height: auto;
    display: block;
}

.hints-city {
    font-weight: 700;
    font-size: 5.3vw;
    color: #4D4D4D;
    margin-left: -18vw;

}

.hints-date, .hints-race {
    font-weight: 700;
    font-size: 4.6vw;
    color: #4D4D4D;
    margin-left: 2vw;

}


.pagination {
    display: inline-block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    width: 100%;
    text-align: center;
}

.page-link {
    text-decoration: none;
    text-align: center;
    background-color: #f2f2f2 !important;
    border-radius: 50%;
    font-size: 5vw;
    margin: 8px 0 15px 5px;
    color: black;
    border: none;
    line-height: 7vw;
}

.page-link:hover {
    color: white !important;
    background-color: #00bdf2 !important;
    font-weight: 600;
}

.page-link:active {
    color: white !important;
    background-color: #00bdf2 !important;
    font-weight: 600;
}

.page-item {
    text-align: center;
    margin: 8px 0 15px 5px;
    display: inline-block;
}
.page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link:active {
    width: 12vw;
    height: 11.3vw;
}


.page-item:last-child .page-link {
    border: none;
    background-color: #f2f2f2 !important;
    border-radius: 50% !important;
}

.page-item:first-child .page-link {
    border: none;
    background-color: #f2f2f2 !important;
    border-radius: 50% !important;

}

.page-item:last-child .page-link:active {
    border: none;
}



@media screen and (min-width: 400px) {
    .nt-sub {
        top: 10vw;
        left: 5vw;
    }

}

@media screen and (min-width: 391px) and (max-width: 395px) {


}
@media screen and (min-width: 380px) and (max-width: 390px) {

}

@media screen and (min-width: 350px) and (max-width: 360px) {

}

@media screen and (min-width: 320px) and (max-width: 340px) {
    .nt-sub {
        top: 8vw;
    }

}