ul {
    list-style: none;
}
.main-menu {
    padding-bottom: 0;
}
/*.card-topbar {*/
    /*width: 100%;*/
    /*height: 15vw;*/
    /*background-color: #eff0f2;*/
    /*border-top-left-radius: 6vw;*/
    /*border-top-right-radius: 6vw;*/
/*}*/
/*.info-card-jokey-list {*/
    /*overflow: hidden;*/
    /*padding: 4vw 0;*/
    /*margin: 0 3vw;*/
/*}*/

/*.info-card-jokey-list li:first-child {*/
    /*margin-left: 0;*/
/*}*/

/*.info-card-jokey-list li {*/
    /*margin-right: 6vw;*/
    /*margin-bottom: 2vw;*/
    /*float: left;*/
    /*color: #fff;*/
    /*font-weight: 700;*/
    /*font-size: 4.5vw;*/
/*}*/

/*.info-card-jokey-list li span {*/
    /*font-weight: 600;*/
    /*color: #666;*/
    /*display: block;*/
    /*line-height: 7vw;*/
/*}*/

/*.info-card-jokey-list li span.value {*/
    /*color: #000;*/
    /*font-weight: 700;*/
    /*line-height: 5vw;*/
/*}*/






















/*.info-card-jokey-table-list {*/
    /*overflow: hidden;*/
    /*padding: 0 0 1vw;*/
    /*margin: 0 3vw;*/
/*}*/

/*.info-card-jokey-table-list li:first-child {*/
    /*margin-left: 0;*/
/*}*/

/*.info-card-jokey-table-list li {*/
    /*margin-left: 1vw;*/
    /*margin-bottom: 2vw;*/
    /*float: left;*/
    /*color: #fff;*/
    /*font-weight: 700;*/
    /*font-size: 4.5vw;*/
    /*text-transform: uppercase;*/
/*}*/

.info-card-jokey-table-list div span {
    font-weight: 600;
    color: #666;
    display: block;
    font-size: 4vw;
    line-height: 7vw;
}

.info-card-jokey-table-list div span.value {
    color: #000;
    font-weight: 700;
    line-height: 5vw;
    max-width: 38vw;
}
/*.card-jokey-title {*/
    /*text-align: center;*/
    /*font-size: 4vw;*/
    /*color: #666;*/
    /*font-weight: 700;*/
    /*margin: 1vw;*/
/*}*/
/*.info-card-jokey-table-list a {*/
    /*color: #00bdf2;*/
    /*text-decoration: none;*/
/*}.info-card-jokey-table-list a:hover {*/
    /*color: #00bdf2;*/
    /*text-decoration: none;*/
/*}*/
.info-card-list {
    padding-top: 2vw;
}
.card-jokey-table-js-container,
.card-jokey-table-syg-container {
}
.card-jokey-table-wrapper{
    width: 89vw;
    margin: 0 auto;
}

.info-card-jokey-table-list {
flex-direction: row;
}
.card-jokey-title {
    text-align: center;
    display: block;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 600;
}
.card-jokey-table-js-container,
.card-jokey-table-syg-container {
    background-color: #f3f3f3;
    display: inline-block;
    height: auto;
    border-radius: 1.5vw;
}
.card-jokey-table-js-container, .card-jokey-table-syg-container {
    background-color: #f3f3f3;
    display: inline-block;
    height: auto;
    border-radius: 1.5vw;
    margin: 1vw auto 5vw;
    padding: 2vw 3vw 3vw;
    font-size: 4.5vw;
}
.info-card-list a {
    color: #00bdf2 !important;
    text-decoration: none;
}
.info-card-list a:hover {
    color: #00bdf2 !important;
    text-decoration: none;
}