body {
    font-family: 'KUKABulo-Bold';
}
.header-nav {
    padding: 48px 0 36px;
}
.right-side-bar {
    padding: 95px 100px 106px;
    position: fixed;
    overflow-y: scroll;
    margin-left: 491px;
    height: 100%;
    width: 1429px;
}
.robot-main-title {
    font-size: 40px;
    color: #575757;
    display: block;
    margin: 40px 0 13px;
}