.row section:last-child {
    margin-right: 0;
}

section .horse-sale {
    float: none;
    display: block;
    text-align: left;
}
.horse-sale h1 {
    font-weight: 700;
    color: #333;
    font-size: 5.5vw;
    display: block;
    margin: 0 2vw;
}
.horse-sale-photo {
    width: 95.5vw;
    margin: 6vw auto 5vw;
}
.horse-sale-photo img {
    width: 100%;
    height: auto;
}
.horse-sale-content {
    width: 95.5vw;
    margin: 0 auto;
}
.horse-sale .horse-sale-content .horse-block {
    height: auto;
}
.horse-block {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 5vw;
}
.horse-block .horse-num {
    width: 10vw;
}
.horse-block .horse-num .horse-num-key {
    width: 9vw;
    height: 9vw;
    background: #ccc;
    font-weight: 700;
    font-size: 5.5vw;
    text-align: center;
    line-height: 9vw;
    color: #333;
    border-radius: 50%;
}
.horse-block .horse-block-content {
    width: 100%;
}

/*.horse-sale-content .horse-block-content {*/
    /*width: 180px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: #00bdf2;*/
    /*height: 100%;*/
    /*padding: 10px;*/
/*}*/
.horse-block-content .horse-block-name,
.horse-block-content .horse-block-priсe {
    font-size: 6vw;
    color: #333;
    font-weight: 900;
    text-transform: uppercase;
    margin: 2vw 0 0;
}
.horse-block-content .horse-block-option {
    font-size: 4.5vw;
    color: #333;
}
.horse-block-content .horse-block-text p {
    font-size: 5vw;
    color: #333;
    line-height: 7vw;
    margin: 3vw 0;
}