/*     /////////////////////////////////////////////////////////////////////      BIG WHITE MENU*/
.main-menu {
    border-radius: 6vw;
    display: inline-block;
    margin: 3vw auto;
    padding-bottom: 5vw;
    width: 100%;
    -webkit-box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    -moz-box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
}

/*     /////////////////////////////////////////////////////////////////////      ACTIVE TAB*/
.active-tab {
    color: white !important;
    background-color: #00bdf2 !important;
    font-weight: 900 !important;
}
.active-tab:hover {
    color: white !important;
    background-color: #00bdf2 !important;
    font-weight: 900 !important;
}

/*     /////////////////////////////////////////////////////////////////////      ADVERTISEMENT*/
.advertising-top-container {
    width: 320px;
    height: 100px;
    background-color: gray;
    margin: 30px auto 20px;
}
.advertising-bottom-container {
    width: 300px;
    height: 600px;
    background-color: gray;
    margin: 3em auto;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

a {
    text-decoration: none;
}

/*////////////////////////////////////////////////////////////////////////// MEZUBAHIS //////////////////*/

.race-info {
    padding: 3vw 2vw 1vw;
    background: #eff0f2;
    margin: 3vw auto;
    position: relative;
}
.race-info ul {
    list-style: none;
    padding-left: 0;
}
.race-info h4 {
    font-size: 5vw;
    margin-bottom: 2vw;
    font-weight: 700;
}
.race-info .race-info-text {
    font-size: 4.5vw;
    color: #000;
    display: inline;
}
.length-block span {
    color: #000;
    font-size: 4.5vw;
}
.program .runway {
    padding-left: 0;
    padding-top: 8px;
}
.runway-block,
.length-block {
    display: inline-block;
}
.race-info .runway {
    font-size: 4.5vw;
    color: #000;
    margin-top: 1vw;
}
.race-info ul {
    overflow: hidden;
}
.race-info li {
    float: left;
}

.runway li.runway-block {
    margin-right: 1vw;
}
.runway li {
    width: 50%;
}
.runway-kum {
    width: 8vw;
    height: 6vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-12.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 9vw;
}
.runway-cim {
    width: 8vw;
    height: 6vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-14.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 9vw;
}

.runway-sentetik {
    width: 8vw;
    height: 3vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/runway-syntactic.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 8vw;
}
.race-info-text::before {
    content: "";
    color: rgb(0, 0, 0);
    margin-left: 0;
}
.attention:after, .box:after, .plus:after, .race-info-text:before {
    color: black;
    font-family: ElegantIcons;
    margin-left: 1vw;
    font-size: 4vw;
}
.runway-text {
    color: #000;
    font-size: 4.5vw;
}
.runway-text-title {
    font-weight: 700;
}
.runway-prizepull {

}
.runway-prizepull .runway-text {
    margin-right: 1vw;
}
.card-horse-num {
    width: 8vw;
    height: 8vw;
    margin: 3vw 0 0 3vw;
    background: gray;
    font-weight: 700;
    font-size: 5.5vw;
    text-align: center;
    line-height: 8vw;
    color: white;
    border-radius: 50%;
    display: inline-block;
}
.card-horse-name {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 900;
    font-size: 5.5vw;
    color: #333;
    margin: 3vw 2vw -1vw;
}
.card-topbar {
    width: 100%;
    height: 15vw;
    margin-bottom: 3vw;
    background-color: #eff0f2;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
    position: relative;
}
.accessories-kg {
    display: inline-block !important;
    height: 6vw;
    width: 6vw;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-06.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9vw;
}
.accessories-db {
    display: inline-block !important;
    height: 8vw;
    width: 3vw;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-04.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9vw;
}
.accessories-k {
    display: inline-block !important;
    height: 6vw;
    width: 6vw;
    background: url(https://img.liderform.com.tr/themes/table-icon-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 4vw;
}
.accessories-m {
    display: inline-block !important;
    height: 6vw;
    width: 6vw;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-05.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 7vw;
}
.perfomance-horse-notlar-icon {
    height: 8vw;
    width: 8vw;
    float: left;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-15.svg);
    background-size: 7vw;
    background-repeat: no-repeat;

}
.city-horse-selection-container {
    border-top: 1px solid lightgray;
    padding-top: 4vw;
    margin: 4vw 0 5vw;
    text-align: center;
}
.city-horse-selection-container select {
    border-radius: 10vw;
    height: 11vw;
    width: 43vw;
    line-height: 7vw;
    font-size: 4.2vw;
    border: 1px solid lightgray;
    background-size: 1.5vw 2vw;
}
.city-horse-selection-container div {
    margin-bottom: 2vw;
}

#select-search-btn  {
    background: #00bdf2;
    border-radius: 10vw;
    height: 11vw;
    width: 43vw;
    line-height: 11vw;
    font-size: 4.2vw;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    border: none;
}
/*.info-card-filter {*/
    /*-webkit-box-shadow: 0px 0px 25px 10px rgba(255,255,255,1);*/
    /*-moz-box-shadow: 0px 0px 25px 10px rgba(255,255,255,1);*/
    /*box-shadow: 0px 0px 25px 10px rgba(255,255,255,1);*/
    /*border-radius: 50%;*/
    /*background-color: #00bdf2;*/
    /*background-image: url(https://img.liderform.com.tr/themes/svg/Ions-20.svg);*/
    /*background-size: 7vw;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*position: absolute;*/
    /*right: 3vw;*/
    /*bottom: 9vw;*/
    /*width: 9vw;*/
    /*height: 9vw;*/
/*}*/
/*.info-card-filter:hover {*/
    /*background-color: #00bdf2;*/
/*}*/
.info-card-button-g {
    -webkit-box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    -moz-box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    color: #00bdf2;
    text-decoration: none;
    position: absolute;
    right: 3vw;
    top: 3vw;
    width: 9vw;
    height: 9vw;
    font-size: 6vw;
    line-height: 9vw;
    text-align: center;
    font-weight: 600;
}
.info-card-button-g:hover {
    background-color: #fff;
    color: #00bdf2;
    text-decoration: none;
}
.info-card-button-half {
    -webkit-box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    -moz-box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    box-shadow: 0 0 14px 7px rgba(235, 235, 235, 0.46);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #00bdf2;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    right: 15vw;
    top: 3vw;
    width: 9vw;
    height: 9vw;
    font-size: 4.5vw;
    line-height: 9vw;
    text-align: center;
    font-weight: 600;
}
.info-card-button-half:hover {
    background-color: #00bdf2;
    color: #ffffff;
    text-decoration: none;
}
.horse-ekuri-07 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-07.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 12vw;
}
.horse-ekuri-08 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-08.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 12vw;
}
.horse-ekuri-09 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-09.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 12vw;
}
.horse-ekuri-10 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-10.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 12vw;
}
.horse-ekuri-11 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-11.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 12vw;
}

.athand_down:before {
    content: "C";
    color: #fc7479;
}

.athand_down:before, .athand_equal:before, .athand_up:before {
    font-family: ElegantIcons;
    font-size: 5vw;
    /*display: inline-block;*/
    width: 3vw;
    height: 5vw;
    line-height: 5vw;
}
.athand_up:before {
    content: "B";
    color: #009245;
}
.jokey-helmet {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-13.svg);
    background-size: 9vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 0;
}
.jokey-icon-1 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-01.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 46vw;
}
.jokey-icon-2 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-02.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 46vw;
}
.jokey-icon-3 {
    width: 9vw;
    height: 8vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/svg/Ions-03.svg);
    background-position: center center;
    background-size: 8vw;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 2vw;
    right: 46vw;
}
.card-topbar {
    width: 100%;
    height: 15vw;
    background-color: #eff0f2;
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
}
.effort-c {
    background: url(https://img.liderform.com.tr/themes/svg/Ions-19.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10vw;
}

.effort-hc {
    background: url(https://img.liderform.com.tr/themes/svg/Ions-18.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10vw;
}
.effort-cr {
    background: url(https://img.liderform.com.tr/themes/svg/Ions-17.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10vw;

}

.effort {
    display: inline-block;
    width: 12vw;
    height: 6vw;
}
.effort-r {
    background: url(https://img.liderform.com.tr/themes/svg/Ions-16.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10vw;
}

.card-race-stats-active {
    border-bottom: .5vw solid #00bdf2;
    width: 24vw;
    display: block;
    margin-top: 5vw;
    position: relative;
}
.card-race-stats-active:after {
    content: "";
    height: 2vw;
    width: 2vw;
    background: #00bdf2;
    position: absolute;
    bottom: -1.15vw;
    border-radius: 50%;
    left: calc(50% - 0.5vw);
}

.info-card-list {
    overflow: hidden;
    padding: 0;
    margin: 0 3vw 2vw;
    display: flex;
    font-size: 4vw;
    justify-content: left;
    position: relative;
}

.info-card-list div {
    flex-direction: row;
    margin: 1vw 0;
    font-weight: 700;
    font-size: 4.5vw;
}

.info-card-list div span {
    font-weight: 600;
    color: #666;
    display: block;
    line-height: 7vw;
}

.info-card-list div span.value {
    color: #000;
    font-weight: 700;
    line-height: 5vw;
}

.info-card-race {
    overflow: hidden;
    padding: 0 0 7vw;
    margin: 0 20vw 0 3vw;
}
.info-card-race span {
    font-weight: 600;
    color: #666;
    line-height: 7vw;
    font-size: 3vw;
    text-align: center;
    display: block;
}
.card-smth {
    display: inline-block !important;
    color: #000 !important;
}
.info-card-race {
    overflow: hidden;
    padding: 0 0 7vw;
    margin: 0 3vw;
    text-align: center;

}
.card-race-stats {
    border-bottom: .5vw solid #00bdf2;
    width: 24vw;
    display: block;
    margin-top: 6vw;
    text-align: center;
}

.card-active-stat {
    position: absolute;
    color: black !important;
    font-size: 4vw !important;
    font-weight: 700;
    top: 0;
    left: 2.5vw;
    width: 10vw;
}
.info-bottombar {
    width: 100%;
    height: 8vw;
    background-color: #00bdf2;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
}
.info-additional-row,
.info-additional-row-b {
    font-size: 5vw;
    line-height: 9vw;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: white;
}
.filter-button {
    background: #00bdf2;
    border-radius: 10vw;
    height: 11vw;
    width: 100%;
    line-height: 11vw;
    font-size: 5vw;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    border: none;
}
.modal-header .fa-times {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 12vw;
    line-height: 12vw;
    color: white;
    font-weight: 600;
    top: 0;
    left: 0;
}
.modal-title {
    font-size: 5vw;
    font-weight: 600;
    line-height: 6vw;
    position: relative;
    top: 2vw;
    color: #333;
}
.close {
    border-radius: 50%;
    background-color: #00bdf2 !important;
    position: absolute;
    right: 8vw;
    top: 7vw;
    width: 12vw;
    height: 12vw;
    opacity: 1;
}
.close span {
    color: white;
    font-size: 9vw;
    font-weight: 300;
    position: relative;
    top: -2.8vw;
    right: .7vw;
}
.filter-container {
    margin: 0 auto;
}
.filter-container div {
    margin: 2vw auto;
}
.filter-container select {
    border-radius: 6vw;
    font-size: 4.5vw;
    font-weight: 600;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
    padding: 4vw 4vw 6vw;
}
.modal-body {
    padding: 4vw 4vw 0;
}
.hide {
    display: none;
}
.modal-content {
    border-radius: 6vw;
    border: none;
}
.horse-age {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 4.5vw;
    color: #4d4d4d;
    position: absolute;
    top: 4vw;
    right: 15vw;
}
.top-list {
    background-color: #f3f3f3;
    width: 100%;
    margin: 0 auto;
    padding: 2vw 3vw;
    font-size: 4.5vw;
    font-weight: 600;
    position: relative;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
}
.card-topbar {
    margin-bottom: 0;
}
.top-list li:first-child {
    margin-left: 4vw;
}
.top-list div {
    margin: 1vw 0;
}
.count-number-r,
.count-number-c {
    height: 6vw;
    width: 7vw;
    font-size: 4vw;
    line-height: 6vw;
    color: #fff;
    text-align: center;
    border-radius: 3vw;
    background: #334253;
    margin-right: 1vw;
    display: inline-block;
}
.info-card-list a {
    text-decoration: none;
    color: #333;
}
.info-card-list a:hover {
    text-decoration: none;
    color: #333;
}
.jokey-icon-1,
.jokey-icon-2,
.jokey-icon-3 {
    top: -1vw;
    right: -1vw;
}
.toto span.cim {
    background: #a5dba5;
}
.toto span.kum {
    background: #ffc500;
}
.toto .value {
    display: inline-block;
    font-size: 5vw;
    color: white !important;
    margin: 0 .2vw;
    height: 8vw;
    line-height: 8vw !important;
    width: 8vw;
    text-align: center;
    border-radius: 50%;
}
.horse-traner-icon {
    height: 6vw;
    width: 6vw;
    float: left;
    background: url(https://img.liderform.com.tr/themes/icon-horse-traner.png);
    background-size: 6vw;
    margin-right: 2vw;
}
.out-of-race {
    background: repeating-linear-gradient(-65deg,#d0d0d0,#d0d0d0 1px,#f2f2f2 1px,#f2f2f2 5px);
}
button:focus {
    outline: none;
}