ul {
    list-style: none;
}
.main-menu {
    padding-bottom: 0;
}

.info-card-list {
    /*overflow: hidden;*/
    /*padding: 4vw 0;*/
    /*margin: 0 3vw;*/
    border-top: 1px solid #f3f3f3;
}

/*!*.info-card-list:last-of-type {*!*/
    /*!*border-bottom: none;*!*/
/*!*}*!*/



/*.info-card-list div {*/
    /*margin-bottom: 3vw;*/
    /*float: left;*/
    /*color: #fff;*/
    /*font-weight: 700;*/
    /*font-size: 4.5vw;*/
/*}*/

/*.info-card-list div span {*/
    /*font-weight: 600;*/
    /*color: #666;*/
    /*display: block;*/
    /*line-height: 7vw;*/
/*}*/

/*.info-card-list div span.value {*/
    /*color: #000;*/
    /*font-weight: 700;*/
    /*line-height: 5vw;*/
/*}*/



.perfomance-jokey-icon {
    margin-right: 1vw;
    background: url(https://img.liderform.com.tr/themes/icon-jokey-t.png);
    background-size: 6vw;
    background-repeat: no-repeat;
    width: 6vw;
    height: 4.9vw;
    float: left;
}
.perfomance-jokey-kg-icon {
    margin-right: 1vw;
    background: url(https://img.liderform.com.tr/themes/icon-jokey-kg.png);
    background-size: 6vw;
    background-repeat: no-repeat;
    width: 6vw;
    height: 4.9vw;
    float: left;
}


.program-topbar-ad-info {
    width: 100%;
    height: 8vw;
    background-color: #eff0f2;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
}
.program-bottombar-ad-info {
    background-color: #eff0f2;
    width: 100%;
    height: 22vw;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
    position: relative;
}
.program-additional-row,
.program-additional-row-b {
    font-size: 5vw;
    line-height: 9vw;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: gray;
}
.program-additional-row-b {
    position: absolute;
    bottom: 2vw;
    left: 46vw;
}
.c-b {
    color: #00bdf2 !important;
}
.perfomance-horse-notlar-icon {
    position: absolute;
    right: 2vw;
    top: 2vw;
}

.info-card-list:last-of-type {
    border-bottom: none !important;
}
/*.info-card-list-container:nth-last-col(4) {*/
    /*border-bottom: none !important;*/
/*}*/
.info-card-filter {
    bottom: 60vw;
}

.jokey-helmet {
    bottom: 3vw;
    left: -7vw;
}