.main-menu {
    padding-bottom: 0;
}
/*.galop-topbar {*/
    /*width: 100%;*/
    /*height: 15vw;*/
    /*background-color: #eff0f2;*/
    /*border-top-left-radius: 6vw;*/
    /*border-top-right-radius: 6vw;*/
/*}*/
.info-bottombar {
    width: 100%;
    height: 8vw;
    background-color: #00bdf2;
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
}
/*.info-card-list {*/
    /*overflow: hidden;*/
    /*padding: 4vw 0;*/
    /*margin: 0 3vw;*/
    /*border-bottom: 1px solid lightgrey;*/
/*}*/

/*.info-card-list li:first-child {*/
    /*margin-left: 0;*/
/*}*/

/*.info-card-list li {*/
    /*margin-right: 6vw;*/
    /*margin-bottom: 2vw;*/
    /*float: left;*/
    /*color: #fff;*/
    /*font-weight: 700;*/
    /*font-size: 4.5vw;*/
/*}*/

/*.info-card-list li span {*/
    /*font-weight: 600;*/
    /*color: #666;*/
    /*display: block;*/
    /*line-height: 7vw;*/
/*}*/

/*.info-card-list li span.value {*/
    /*color: #000;*/
    /*font-weight: 700;*/
    /*line-height: 5vw;*/
/*}*/

.info-additional-row,
.info-additional-row-b {
    font-size: 5vw;
    line-height: 9vw;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: white;
}
.info-card-list-container {
    border-top: 1px solid #eff0f2     ;
    margin-bottom: 3vw;
}

.info-card-race {
    overflow: hidden;
    padding: 0 0 7vw;
    margin: 0 3vw;
    text-align: center;

}
.card-race-stats {
    border-bottom: .5vw solid #00bdf2;
    width: 15vw;
    display: block;
    margin-top: 8vw;
    text-align: center;
}
.card-race-stats-active {
    border-bottom: .5vw solid #00bdf2;
    width: 15vw;
    display: block;
    margin-top: 8vw;
    position: relative;
}
.card-race-stats-active:after {
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    background: #00bdf2;
    position: absolute;
    bottom: -1vw;
    border-radius: 50%;
    left: calc(50% - 0.7vw);
}
.card-active-stat {
    left: 0;
}
.jokey-helmet {
    bottom: 3vw;
    left: -1vw;
}
.info-card-list-container a {
    text-decoration: none;
    color: #333333;
    padding-left: 4vw;
}
.info-card-list-container a:hover {
    text-decoration: none;
    color: #333333;
}