.perfomance-horse-notlar-icon {
    position: absolute;
    right: 2vw;
    top: 2vw;
}
.main-menu {
    padding-bottom: 0;
}
.helmet {
    display: block;
    margin-left: 4vw;
    margin-top: 1vw;
}