

.stat-detail-img {
    overflow: hidden;
    -webkit-border-radius: 4.5vw;
    -moz-border-radius: 4.5vw;
    border-radius: 4.5vw;
    margin: -.5vw 2vw;
}

.stat-detail-img img {
    width: 100%;
    height: auto;
}

.stat-detail-info-top h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 8vw;
    color: #333;
    margin: 3vw 2vw -1vw;
}

.stat-detail-info-top span {
    font-size: 4vw;
    font-weight: 400;
    text-transform: uppercase;
}

.stat-detail-info-top {
    margin-top: 2.5vw;
    margin-bottom: -5vw;
}

.stat-panel-star {
    margin: 3vw 2vw;
    border-bottom: 1px solid #e6e6e6;
}

.stat-medal {
    display: inline-block;
    width: 12vw;
    height: 13.2vw;
}

.medal-1 {
    background: url(https://img.liderform.com.tr/themes/medal-1.png);
    background-position: top center;
}

.medal-2 {
    background: url(https://img.liderform.com.tr/themes/medal-2.png);
    background-position: top center;
}

.medal-3 {
    background: url(https://img.liderform.com.tr/themes/medal-3.png);
    background-position: top center;
}

/*.stat-detail-info-middle {*/
/*margin: -10vw 0;*/
/*}*/
ul {
    list-style: none;
}

.stat-info-li {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding: 4vw 2vw;
    margin: 0 2vw;
}

.stat-info-li li:first-child,
.stat-info-li li:last-child {
    margin-left: 0;
}

.stat-info-li li {
    margin-left: 6vw;
    float: left;
    color: #fff;
    font-weight: 700;
    font-size: 3.7vw;
}

.stat-info-li li span {
    font-weight: 400;
    color: #666;
    display: block;
    line-height: 27px;
}

.stat-info-li li span.value {
    color: #000;
    font-weight: 700;
    line-height: 5vw;
    max-width: 38vw;
}

.stat-graph {
    height: 10vw;
    -webkit-border-radius: 1.5vw;
    -moz-border-radius: 1.5vw;
    border-radius: 1.5vw;
    overflow: hidden;
    margin: 3vw 2vw;
}

.stat-graph ul {
    height: 10vw;
    width: 100%;
    overflow: hidden;
    display: inline-table;
    vertical-align: top;
    padding-left: 0;
}

.stat-graph ul li.graph1 {
    background: #fbb03b;
    color: #1a1a1a;
}

.stat-graph ul li {
    height: 10vw;
    display: table-cell;
    line-height: 10vw;
    padding: 0 1.5vw;
    font-size: 3.5vw;
}

.pull-right {
    float: right;
}

.stat-graph b {
    font-size: 4vw;
}

b, strong {
    font-weight: 700;
}

.stat-graph ul li.graph2 {
    background: #04756f;
    color: #f2f2f2;
}

.selection-container {
    margin: 0 auto;
    padding-bottom: 3vw;
}

.selection-container select {
    border-radius: 10vw;
    line-height: 6vw;
    height: 12vw;
    padding-left: 4vw;
    font-size: 4vw;
    color: black;
    background-color: white;
    border: 2px solid #dbdbdb;
}

.sel-col {
    padding: 1vw 2vw;
}


.exp-selection-smth {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin: 2vw auto 3vw;
}

.exp-selection-smth a {
    border-radius: 10vw;
    height: 12vw;
    width: 28vw;
    line-height: 5vw;
    padding-top: 1vw;
    text-align: center;
    color: black;
    background-color: #f2f2f2;
    text-decoration: none;
    display: block;
    font-size: 3.7vw;
}

.galop-city-container {
    text-align: left;
    display: inline-block;
    width: 91vw;
    margin: 2vw;
}

.galop-day {
    font-size: 5.5vw;
    font-weight: 700;
    color: #333333;
    display: block;
    margin-bottom: 3vw;
}


.galop-city-item:hover {
    text-decoration: none;
    color: #000;
}

.galop-city-item {
    background: #f2f2f2;
    height: 9vw;
    line-height: 9vw;
    border-radius: 5vw;
    margin-bottom: 2vw;
    margin-right: 2.5vw;
    padding: 0 3vw;
    color: #333;
    font-size: 4vw;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}


.selection-smth {
    display: inline-flex;
    justify-content: space-around;
    width: 70vw;
    margin: 2vw auto 3vw;
}

.selection-smth a {
    border-radius: 10vw;
    height: 11vw;
    width: 32vw;
    line-height: 11vw;
    text-align: center;
    color: black;
    background-color: #f2f2f2;
    text-decoration: none;
    display: block;
    font-size: 4vw;
}
.columns-number {
    border-radius: 10vw;
    line-height: 5vw;
    margin: 1vw;
    height: 9vw;
    width: 20%;
    padding-left: 3vw;
    font-size: 4vw;
    color: black;
    background-color: white;
    border: 2px solid #00bdf2;
}
.selection-num-container {
    margin: 4vw 2vw 0;
    /* width: 47vw; */
}
.selection-num-container span {
    font-size: 4vw;
}


table.table-format-normal {
    border-spacing: 0 1.5vw;
    border-collapse: separate;
}
table.table-format-normal tr.table-header {
    background-color: #334253;
    color: #fff;
    text-align: center;
    line-height: 5vw;
}

table.table-format-normal tr.table-header th:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
table.table-format-normal tr.table-header th:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
table.table-format-normal td:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-left: 1px solid #d9d9d9;
    padding-left: 3vw;

}
table.table-format-normal td {
    padding: 2vw 1vw;
    font-size: 4vw;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
table.table-format-normal td:last-child {
    border-right: 1px solid #d9d9d9;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

table.table-format-normal.dataTable thead .sorting_desc {
    background-image: url(https://img.liderform.com.tr/themes/sort_desc.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
table.table-format-normal th {
    padding: 1vw 5vw;
    line-height: 5vw;
    vertical-align: middle;
    font-size: 4vw;
    font-weight: 700;
}
.text-center {
    text-align: center!important;
}
table.table-format-normal.dataTable thead .sorting {
    background-image: url(https://img.liderform.com.tr/themes/sort_both.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
table.table-format-normal.dataTable thead .sorting_asc {
    background-image: url(https://img.liderform.com.tr/themes/sort_asc.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
table.table-format-normal.dataTable thead .sorting_desc {
    background-image: url(https://img.liderform.com.tr/themes/sort_desc.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
.table-icon-link.foto {
    background-image: url(https://img.liderform.com.tr/themes/link-foto.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.table-icon-link.video {
    background-image: url(https://img.liderform.com.tr/themes/link-video.png);
    background-repeat: no-repeat;
    background-position: center center;
}

table.table-format-normal td a {
    color: #00bdf2;
}
.table-icon-link {
    height: 8vw;
    width: 8vw;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: block;
}
table.table-format-normal.table-gallop .gallop-line {
    border-bottom: 2px solid #00bdf2;
    height: 7vw;
    position: relative;
}
table.table-format-normal.table-gallop .gallop-line.active:after {
    content: "";
    height: 2.5vw;
    width: 2.5vw;
    background: #00bdf2;
    position: absolute;
    bottom: -1.5vw;
    border-radius: 50%;
    left: calc(50% - 1vw);
}
table.table-format-normal.table-gallop td.no-padding {
    padding: 0;
}
.runway-cim {
    width: 8vw;
    height: 3vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/runway-grass.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.runway-kum {
    width: 8vw;
    height: 3vw;
    display: inline-block;
    background: url(https://img.liderform.com.tr/themes/runway-sand.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.effort-r {
    background: url(https://img.liderform.com.tr/themes/md-speed.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.effort {
    display: inline-block;
    width: 22vw;
    height: 9vw;
}
.table-gallop th {
    padding-right: 5vw !important;
}
.table-width {
    width: 110vw;
    height: 30vw;
}

@media screen and (min-width: 400px) {
    .stat-medal {
        height: 12.5vw;
    }
}
    @media screen and (min-width: 365px) and (max-width: 375px) {
    .stat-medal {
        height: 14vw;
    }
}

@media screen and (min-width: 350px) and (max-width: 360px) {
    .stat-medal {
        height: 14.2vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 340px) {
    .stat-medal {
        height: 16.2vw;
    }
}